  <div *ngIf="arrayData" class="wrapper">
		<div class="header">
			<a [routerLink]="['/']">Back To Dashboard</a>
		</div>
    <div class="product-img">
      <img [src]="arrayData[0].picture" alt="image"/>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{arrayData[0].fullName}}</h1>
				<h2>{{arrayData[0].username}}</h2>
				<p>{{arrayData[0].biography}}</p>
				<h2 class="count">Followers Count | {{arrayData[0].followerCount}}</h2>
			</div>
				<ul>
					<li  class="active"><a href="#">Interests</a></li>
					<li *ngFor="let data of arrayData[0].stats.interests"><a href="#">{{data}}</a></li>
				</ul>
    </div>
	</div>
	
	